* {
  font-family: Kaisei Decol, sans-serif;
}

.container-fluid {
  margin-left: 30px;

}

.footer {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 1000px;
  text-align: center;
}

.info-table {
  text-align: left;
  width: 790.996px;
  height: 49PX;
}

th {
  height: 30px;
  width: 150px;
  color: white;
  background-color: black;
}

.id {
  width: 50px;
  font-weight: bold;
}

td {
  height: 25px;
}


