<table class="table table-sm">
  <thead class="table table-dark">
    <tr class="d-flex">
    <th class="col-1">#</th>
    <th class="col-2">Nombre comun</th>
    <th class="col-2">Tipo</th>
    <th class="col-2">Clima</th>
  </tr>
</thead>
<tbody>
    <tr class="d-flex" *ngFor="let i of plants">
      <th class="col-1">{{i.id}}</th>
      <td class="col-2">{{i.nombre_comun}}</td>
      <td class="col-2">{{i.tipo}}</td>
      <td class="col-2">{{i.clima}}</td>
    </tr>
</tbody>
<br>
<p>Total plantas de interior: {{totalInt}}</p>
<p>Total plantas de exterior: {{totalExt}}</p>
</table>





<div class="footer">

  <br>
  <p>Contact us: +57 3102105253 - info@viveroelotonio.com - @viveroelotonio</p>

</div>



